.header{
  background-color:#f2f542;
  padding:20px;
  text-align:center;
  
}
/*the navbar will be burnt orange, padding 20px*/
.navbar{
  background-color:rgba(220,120,75,1);
  padding:20px;
  overflow:hidden;
}
/*the navbar will have display block, float left, text center, padding 14 top 16 left*/
    .navbar a{
color:#f1f1f1;
float:left;
display:block;
text-align:center;
padding:20px 10px;
  }

a:hover{
  background-color:#42e6f5;
  float:left;
  padding: 20px 10px;
  display: block;
  text-align:center;
  color:black;
}
























.magic{
border: gray solid 7px;
  width:400px;
  height:400px;
  overflow:hidden;
  position:relative;
  left:5px;
  padding:5px;
  margin:5px;
  float: left;
}
#straw{
  width:50px;
  position:relative;
  left:225px;
  top:150px;
  }
#straw:hover{
  visibility:hidden;
  
}

#fishbowl{
  height:390px;
  z-index:-1;
}

#c1{
width:50px;
  position:relative;
  left:150px;
  right:202px;
  top:275px;
  opacity:0%;
}

#c2{
width:50px;
  position:relative;
  left:75px;
  top:150px;
  opacity:0%;
}
#c3{
  width:50px;
  position:relative;
  left:75px;
  top:205px;
  opacity:0%;
}
#c4{
  width:50px;
  position:relative;
  left:35px;
  top:280px;
  opacity:0%;
}
#c5{
  width:50px;
  position:relative;
  left:55px;
  top:279px;
  opacity:0%;
}
#c1:hover{
  opacity:100%;
}
#c2:hover{
  opacity:100%;
}
#c3:hover{
  opacity:100%;
}
#c4:hover{
  opacity:100%;
}
#c5:hover{
  opacity:100%;
}
#tree{
height:390px;
 
}

.hunt{
border: gray solid 7px;
width:400px;
  height:400px;
  overflow:hidden;
  position:relative;
  left:5px;
  padding:5px;
  margin:5px;
  float: right;
}
  
